.chatContainer{
  width: calc(100vw - 380px);
    margin-top: -135px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color:rgba(242, 242, 242,0.6);
    overflow-y: hidden;
}
.titleContainer{
    display: flex;
    justify-content: space-around   ;
    align-items: center;
    border-bottom: 1px solid rgba(2, 2, 2, 0.2);
    border-left: 1px solid rgba(2, 2, 2, 0.2);
 
   padding: 10px 30px 5px 30px;   
    background-color:#F2F2F2;

}
.titleImg{
    width: 50px;
    border-radius: 50%;
}
.titleName{
margin: 0;
text-transform: capitalize;
color: #1e4d76;
font-size: 30px;
letter-spacing: 1.5px;


}
.titleButton{
    height: 25px; 
    
    font-size: 10px;
    background-color: black;
    color: #fff;
}
.list{
   max-height: calc(100vh - 194px);
  padding: 10px 30px;   
  overflow-y: scroll;
    scroll-behavior: smooth;
}
.list::-webkit-scrollbar {
    width: 8px;
  }
  .list::-webkit-scrollbar-track {
    background: #F2F2F2;
  }
 
  .list::-webkit-scrollbar-thumb {
    background: #979797;
    border-radius: 1px;
  }
.item{
    margin-bottom: 5px;
 
}
.itemTextImgContainer{
    display: flex;
    align-items: center;
}

.itemTextNOImgContainer{
}

.itemMyMessage{
    composes: item;
    
     display: flex;
     flex-direction: column;
     align-items: flex-end; 
     
    }
    .itemBot{
        composes:  item;
    }
    
    .itemImg{
        width: 40px;
        margin-right: 8px;
    border-radius: 50%;
}

.itemText{
    display: inline-block;
    margin: 0;
    padding: 10px;
    border-radius: 20px;
    background-color: rgba(104, 102, 102, 0.3);
    
}
.itemText:first-letter{
    text-transform: capitalize;
}
.itemTextBot{
    composes:  itemText;
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0.8);
    max-width: 55%;
    
}
.itemTextMy
{composes:  itemText;
   
}

.itemData{
    font-size: 10px;
   color:rgb(123, 123, 123);

}
.itemDataBot{

    composes:  itemData;
    margin-left: 60px;
}

.form{
position: relative;
padding: 20px 30px;
background-color:#F2F2F2;

border-top:1px solid rgba(2, 2, 2, 0.2);
}

.input{
    padding:20px ;
    border-radius: 50px;
    width: 90%;
    border: 1px solid rgba(2, 2, 2, 0.2);
    transition: all 0.25s linear;
    outline: none;
  }
  .input::placeholder{
      font-size: 16px;
      letter-spacing: 1px;
  }
  .input:hover{
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1);
  
  }
.button{
position: absolute;
top: 40px;
right: 100px;
    height: 30px;
}