.svg-Search {
    fill:#3a6d99;
    transition: all 0.25s linear;
}
.svg-Search:hover {
  filter: drop-shadow(6px 2px 1px rgba(58, 109, 153,0.3));
}
.svg-DeleteMessage {
  fill:#3a6d99;
  transition: all 0.25s linear;
  transform: scale(1);
  margin-right: 30px;
}
@media screen and (max-width: 859px) {

  .svg-DeleteMessage {
    margin-right: 15px;
  }
}
.svg-DeleteMessage:hover {
filter: drop-shadow(2px 2px 1px rgba(58, 109, 153,0.3));
transform: scale(1.04);
}
.svg-DeleteContact {
  fill:#3a6d99;
  transition: all 0.25s linear;
  transform: scale(1);
}
.svg-DeleteContact:hover {
filter: drop-shadow(2px 2px 1px rgba(58, 109, 153,0.3));
transform: scale(1.04);
}

.svg-Exit {
  fill:#115b9d;
  margin-left: -20px;
}

.svg-Telegram {
  transition: all 0.25s linear;
 
}
.svg-Telegram:hover {
  filter: drop-shadow(4px 2px 1px rgba(58, 109, 153,0.2));
}

.svg-GoBack{
  fill:#115b9d;
  transition: all 0.25s linear;
  transform: scale(1);
}
.svg-GoBack:hover{
  transform: scale(1.04);

}