.svg-Search {
    fill:#3a6d99;
    transition: all 0.25s linear;
}
.svg-Search:hover {
  filter: drop-shadow(6px 2px 1px rgba(58, 109, 153,0.3));
}
.svg-DeleteMessage {
  fill:#3a6d99;
  transition: all 0.25s linear;
  transform: scale(1);
  margin-right: 30px;
}
.svg-DeleteMessage:hover {
filter: drop-shadow(2px 2px 1px rgba(58, 109, 153,0.3));
transform: scale(1.04);
}
.svg-DeleteContact {
  fill:#3a6d99;
  transition: all 0.25s linear;
  transform: scale(1);
}
.svg-DeleteContact:hover {
filter: drop-shadow(2px 2px 1px rgba(58, 109, 153,0.3));
transform: scale(1.04);
}

.svg-Exit {

  transition: all 0.25s linear;
  transform: scale(1); 
  margin-left: -20px;
}

.svg-Exit:hover {
  transform: scale(1.06); 
 
}
  /* }
  .svg-Remove,
  .svg-Edit {
    cursor: pointer;
  }
  .svg-Logo {
    fill: #8390a2;
  }
  
  .svg-TimeLine,
  .svg-Home,
  .svg-Money {
    fill: #aab3c0;
  }
  .svg-ArrowRight {
    fill: #fff;
  }
  .svg-ArrowLeft {
    fill: #fff;
  }
  
  .svg-Error {
    fill: #f9ca24;
  }
  
  @media (min-width: 748px) {
    .svg-Logo {
      fill: #3a5374;
    }
  }
  
  @media (min-width: 1192px) {
  }
  
  .svg-Remove,
  .svg-Edit {
    fill: #3a5374;
  } */