
.contactsList{
    overflow-y: hidden;
}

.title{
    margin: 10px ;
    text-align: center;
    color:  #3a6d99;
    font-weight: 500;
    display: block;
}
.list{  
    max-height: calc(100vh - 135px);
    overflow-y: scroll;
    scroll-behavior: smooth;
}
                                               
   .list::-webkit-scrollbar {
    width: 4px;
  }
  .list::-webkit-scrollbar-track {
    background: #f0f4f7;
  }
 
  .list::-webkit-scrollbar-thumb {
    background:  rgba(58, 109, 153,0.6);
    border-radius: 1px;
  }
.item{
    display: flex;
    align-items: center;
    height: 90px;  
    padding: 10px 10px 10px 30px;
color: #222;
transition: all 0.25s linear;
border-bottom: 1.5px solid #F2F2F2;
}





.item:hover{
    background-color: #f0f4f7;
    
}
.itemActive{
    background-color: #3a6d99;
    color: #fff;
    
}
.image{
    width: 50px;
    
    border-radius: 50%;
    margin-right: 30px;
}
.descContainer{
    text-align: left;
   width: 180px; 
}


@media screen and (min-width: 400px)and (max-width: 550px) {
    .descContainer{
        
     width: 230px;
    }
    .item{
        justify-content: space-between;
    }
}

@media screen and (min-width: 551px)and (max-width: 859px) {
    .descContainer{
        
     width: 400px;
    }
    .item{
        justify-content: space-between;
    }
}

.name{
    text-transform: capitalize;
    margin: 0;
    font-weight: 600;
    margin-bottom: 10px;
    letter-spacing: 1px;
}
.item:hover .name{
    color: #222;
}
.description{
    margin: 0;
    font-size: 12px;
    font-style: italic;
    color:  #3a6d99;
    text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
}
.description::first-letter{
    text-transform: capitalize;
}
.itemActive .description{
    color: #fff;
}
.botLoaderMessage{
   display: none;
    
}
.itemActive .botLoaderMessage{
    display: block;
    display: flex;
    align-items: center;
    
} 

.descriptionLoader{
    color: #fff;
    margin: 0;
    
}
.descriptionLoader::first-letter{
   text-transform: capitalize;
    
}


.item:hover  .descriptionLoader{
    color:  #3a6d99;
    
}
.descLoaderPlus{
    opacity: 0;
    transition: all 0.3s linear;
}

.item:hover .descLoaderPlus{
    opacity: 1;
    color:  #3a6d99;
}

.date{
    color:  #3a6d99;
    font-size: 10px;
   text-align: right;
   
}

@media screen and (min-width: 860px) {
                                                    
    .chatContent{
        display: flex;
        
    }

    .contactsList{
        min-width: 380px;
       
    }
    .item{
        padding: 10px 2px 10px 20px;
    }
    .image{
       
        margin-right: 20px;
    }
    .descContainer{
      
        width: 220px;
        
    }
}


.item:hover .description{
    color:  #3a6d99;
}
.itemActive .date{
    
    color: #fff;
}
.item:hover .date{
    color:  #3a6d99;
}