.chatContent{
    display: flex;
    
}

.contactsList{
    min-width: 380px;
    overflow-y: hidden;
}

.title{
    margin: 10px ;
    text-align: center;
  color:  #3a6d99;
  font-weight: 500;
  display: block;
}
.list{  
    max-height: calc(100vh - 135px);
    overflow-y: scroll;
    scroll-behavior: smooth;
}
   .list::-webkit-scrollbar {
    width: 4px;
  }
  .list::-webkit-scrollbar-track {
    background: #f0f4f7;
  }
 
  .list::-webkit-scrollbar-thumb {
    background:  rgba(58, 109, 153,0.6);
    border-radius: 1px;
  }
.item{
    display: flex;
    align-items: center;
    height: 90px;  
    padding: 10px 2px 10px 20px;
color: #222;
text-transform: capitalize;
transition: all 0.25s linear;
border-bottom: 1.5px solid #F2F2F2;
}
.item:hover{
    background-color: #f0f4f7;

}
.itemActive{
background-color: #3a6d99;
    color: #fff;
   
}
.image{
    width: 50px;
    border-radius: 50%;
    margin-right: 20px;
}
.descContainer{
    text-align: left;
    width: 234px;

}
.name{
    margin: 0;
    font-weight: 600;
    margin-bottom: 10px;
}
.item:hover .name{
    color: #222;
}
.description{
    margin: 0;
    font-size: 12px;
    font-style: italic;
    color:  #3a6d99;
    text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
}
.itemActive .description{
    color: #fff;
}
.date{
    color:  #3a6d99;
    font-size: 10px;
   text-align: right;
}

.item:hover .description{
    color:  #3a6d99;
}
.itemActive .date{
    
    color: #fff;
}